<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="columns" type="C3.C3ColumnSection, C3"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <columns>
    <column name="Category" classifier="NaiveBayesClassifier" default="UNSPECIFIED">
      <value>CHAR</value>
      <value>CLOTHES</value>
      <value>COMM</value>
      <value>CULTURAL</value>
      <value>EATO</value>
      <value>EDU</value>
      <value>GIFTS</value>
      <value>GROC</value>
      <value>HOME</value>
      <value>MED</value>
      <value>NA</value>
      <value>TOYS</value>
      <value>TRANS</value>
      <value>TRAVEL</value>
      <value>UNSPECIFIED</value>
    </column>
    <column name="Owner" classifier="NaiveBayesClassifier" default="BOTH">
      <value>MARCIA</value>
      <value>NATE</value>
      <value>BOTH</value>
      <value>UNSPECIFIED</value>
    </column>
  </columns>
</configuration>